.App {
  width: 80%;
  margin: 0px auto;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
}

.footer {
  border-top: 3px solid gray;
  margin: 100px 0px;
}

.footer h3 {
  text-align: center;
}

.menu {
  margin: 30px 0px;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}

.menu a {
  text-decoration: none;
  font-size: 1.2rem;
  padding-right: 30px;
  color: gray;
}

.menu a:hover {
  color: black;
}

.login {
  width: 30%;
  margin: 0px auto;
  text-align: center;
  padding: 20px 0px;
}

input {
  border:none;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  font-family: 'Gugi';
}

input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

button {
  font-family: 'Gugi';
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: gray;
  padding: 0px 20px;
}

a:hover {
  color: black;
}

.user {
  overflow: hidden;
  border-bottom: 1px dotted gray;
}

.photo {
  width: 30%;
  float:left;
  margin-top: 20px;
}

.info {
  width: 70%;
  float: left;
}